html, body {
font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}


b {
display: block;
color: orange;
margin-bottom: 3px;
}

.b {
font-weight: bold;
color: orange;
margin-bottom: 3px;
}

a {
color: #4774ce;
text-decoration: none;
}

table td {
border-bottom: 1px solid #ddd;
}

.td1 {
font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
text-transform: uppercase;
white-space: nowrap;
font-size:15px;
}

.td2 {
padding: 0 6px;
border-left: 1px solid #ddd;
border-right: 1px solid #ddd;
font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
font-size:15px;
}

.td3 {
padding-left:5px;
font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
font-size:15px;
}
