database/bible/francais/bayard/
database/bible/francais/chouraqui/
database/bible/francais/francaiscourant/
database/bible/francais/grosjean/
database/bible/francais/jerusalem/
database/bible/francais/mondenouveau/
database/bible/francais/nbs/
database/bible/francais/nfc/
database/bible/francais/osty/
database/bible/francais/paroledevie/
database/bible/francais/parolevivante/
database/bible/francais/peuples/
database/bible/francais/semeur/
database/bible/francais/tresmontant/
database/bible/francais/jacqueline/
database/bible/francais/kingjames/
database/bible/francais/lienart/
database/bible/francais/neufchatel/
database/bible/francais/oecumenique/
database/bible/francais/pirotclamer/
database/bible/francais/lefevre/
database/bible/francais/darby/darby_rev.js

#database/bible/grec/ga03/ga03a.js
#database/bible/grec/ga03/ga03b.js
#database/bible/grec/ga03/ga03c.js
#database/bible/grec/ga03/ga03d.js

#database/bible/grec/na28/na28.js
