body {
font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}

b {
display: block;
color: orange;
margin-bottom: 3px;
}

.b {
font-weight: bold;
color: orange;
margin-bottom: 3px;
}

a {
color: #4774ce;
text-decoration: none;
}

table {
border-collapse: collapse;
}

table td {
border: 1px solid #ddd;
white-space: nowrap;
font-family: sans-serif;
font-size:14px;
}

tr:hover {
background-color: #e8e8e8;
}

.td1 {
font-family: sans-serif;
text-transform: uppercase;
white-space: nowrap;
}

.td2 {
font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
font-size:15px;
padding: 0 6px;
border-left: 1px solid #ddd;
border-right: 1px solid #ddd;
}

rtxt {
color:green;
}

wits{
color:red;
}